body {
    margin: 0;
    background: white;
    font-family: sans-serif;
    font-weight: 100;
}

.header {
    text-align: center;
}

.SearchBox {
    align-content: center;
    text-align: center;
}

table, th, tr, td {
    border: 1px solid black;
}

.headerBox {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
