<link rel="stylesheet" type="text/css" href="trialList.css">

<div class="box">
    <div class="header" ng-repeat="trial in trials | limitTo: 1 : 0" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasCondition'][0]['@value'] != null">
        <h1>Trials found for : <strong>{{trial["http://stjohns.edu/fullclinicaltrial/hasCondition"][0]["@value"]}}</strong></h1>
    </div>


    <div class=buttonList>
    <span ng-repeat="trial in trials" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasNCT'][0]['@value'] != null">
        <a ui-sref="viewTrials({nct: trial['http://stjohns.edu/fullclinicaltrial/hasNCT'][0]['@value']})">
            <button>
                <strong>NCT: </strong> {{trial['http://stjohns.edu/fullclinicaltrial/hasNCT'][0]['@value']}}
                <br>
                <br>
                <strong>Study Title: </strong> {{trial['http://stjohns.edu/fullclinicaltrial/hasBriefTitle'][0]['@value']}}
                <br>
                <br>
                <strong>Status: </strong> {{trial['http://stjohns.edu/fullclinicaltrial/hasOverallStatus'][0]['@value']}}
            </button>
        </a>
    </span>
</div>
</div>