<link rel="stylesheet" type="text/css" href="trialList.css">


<div class="box">

    <div class="navOptions">
        <a ui-sref="searchBar">
            New Search
        </a>
        <br>
        <br>
    </div>

    <div class="headerBubble" ng-repeat="trial in trials | limitTo: 1 : 0" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasCondition'][0]['@value'] != null">
        <h2>Trials found for: </h2> <h3>{{trial["http://stjohns.edu/fullclinicaltrial/hasCondition"][0]["@value"]}}</h3>
    </div>


    <div class=buttonList>
    <span ng-repeat="trial in trials" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasNCT'][0]['@value'] != null">
        <a ui-sref="viewTrials({nct: trial['http://stjohns.edu/fullclinicaltrial/hasNCT'][0]['@value']})">
            <button>
                <span style="font-weight: lighter;">NCT:</span> {{trial['http://stjohns.edu/fullclinicaltrial/hasNCT'][0]['@value']}}
                <br>
                <br>
                 <span style="font-weight: lighter;">Study Title:</span> {{trial['http://stjohns.edu/fullclinicaltrial/hasBriefTitle'][0]['@value']}}
                <br>
                <br>
                <div class="statusBubble">
                    <h4>{{trial['http://stjohns.edu/fullclinicaltrial/hasOverallStatus'][0]['@value']}}</h4>
                </div>
            </button>
        </a>
    </span>
    </div>
</div>