body {
    width: 100%;
    background-color: white;
    font-weight: 100;
    margin: auto;
}

.backgroundBox {
    background-color: white;
}


.headerImage > img{
    position: absolute;
    top: 16%;
    height:75%;
    width: 100%;
    overflow: hidden;
    filter: brightness(50%);
    box-shadow: 2px 2px 2px lightgrey;
}

.titleBar {
    font-weight: lighter;
    text-align: center;
}

.titleBar > h1{
    font-family:"Palatino Linotype", sans-serif;
    font-weight: lighter;
    font-size: 65px;
    color: white;
}
.top_left_image > img {
    position: absolute;
    top: 45px;
    height: 7%;
    width: 10%;
    left: 5%;
}

.welcomeBox {
    position: relative;
    background-color: black;
    padding: 20px;
    height: 400px;
    width: 30%;
    text-align: center;
    left: 20px;
    opacity: .91;
    font-weight: lighter;
}

.welcomeBox > h1 {
    color: white;
    font-family: "Palatino Linotype", sans-serif;
    font-weight: lighter;
}

.welcomeBox > p {
    color: white;
    font-family:"Palatino Linotype", sans-serif;
    font-size: 18px;
    font-weight: lighter;
}
ul {
    font-family:"Palatino Linotype", sans-serif;
    list-style-type: none;
    overflow: hidden;
    font-weight: lighter;
}

li {
    font-family:"Palatino Linotype", sans-serif;
    font-weight: lighter;
    position: relative;
    left: 67%;
    display: inline-table;
    padding-top: 30px;
}

li a {
    text-decoration: none;
    display: block;
    padding: 20px;
    color: black;
    font-size: 35px;
    font-family: "Palatino Linotype", sans-serif;
    font-weight: lighter;

}

.headerContainer {
    font-size:50px;
}

.navBar {

}

.trialList {
    position: relative;
    top: 700px;
    padding: 10px;
}

table, th, tr, td {
    border: 1px solid black;
}

.recruitingBox {
    position: relative;
    top: 300px;
    text-align: center;
    left: 20%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
}