<link rel="stylesheet" type="text/css" href="trialList.css">


<div class="box">

    <div class="navOptions">
        <br>
        <br>
        <a ui-sref="searchBar" style="padding-left: 30px; font-size: 17px; color: black; font-weight: bold">
            New Search
        </a>
    </div>

    <div class="headerBubble" ng-repeat="trial in trials | limitTo: 1 : 0" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasCondition'][0]['@value'] != null">
        <h2>Trials found for: <span style="color: darkseagreen; font-size: 35px; ">{{trial["http://stjohns.edu/fullclinicaltrial/hasCondition"][0]["@value"]}}</span> </h2>
    </div>


    <div class=buttonList>
    <span ng-repeat="trial in trials" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasNCT'][0]['@value'] != null">
        <a ui-sref="viewTrials({nct: trial['http://stjohns.edu/fullclinicaltrial/hasNCT'][0]['@value']})">
            <button style="background-color: white; border-bottom: 1px solid black;">
                <span style="font-weight: lighter;">NCT</span>: {{trial['http://stjohns.edu/fullclinicaltrial/hasNCT'][0]['@value']}}
                <br>
                <br>
                 <span style="font-weight: lighter; border-bottom: 1px solid black;">Study Title</span>: {{trial['http://stjohns.edu/fullclinicaltrial/hasBriefTitle'][0]['@value']}}
                <br>
                <br>
                <div class="statusBubble">
                    <h4>{{trial['http://stjohns.edu/fullclinicaltrial/hasOverallStatus'][0]['@value']}}</h4>
                </div>
            </button>
        </a>
    </span>
    </div>


</div>

