<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="searchByIntv.css">
</head>

<body>

<div class="header">
    <h1>Search Clinical Trials By Intervention</h1>
</div>

<div class=SearchBox ng-app="myApp" ng-controller="interventionController">

    <h4>Enter Invervention Name:</h4>
    <input type="text" ng-model="int">
    <button ng-click="findTrialsByInt()">Submit</button>

    <li ng-repeat="trial in trials">
        <span>{{trial["http://stjohns.edu/clinicaltrialproj/hasNCT"][0]["@value"]}}</span>
        <button ng-click="findTrialInfo(trial['http://stjohns.edu/clinicaltrialproj/hasNCT'][0]['@value'])">Get Trial Info</button>

    </li>


    <table cellspacing="4" cellpadding="4">
        <tr>
            <th>NCTID</th>
            <th>Criteria Text</th>
            <th>Name</th>
            <th>Type</th>
        </tr>

        <tr ng-repeat = "trial in trialInfo">
            <td>{{trial["http://stjohns.edu/clinicaltrialproj/hasNCT"][0]["@value"]}}</td>
            <td>{{trial["http://stjohns.edu/clinicaltrialproj/criteriaText"][0]["@value"]}}</td>
            <td>{{trial["http://stjohns.edu/clinicaltrialproj/hasName"][0]["@value"]}}</td>
            <td>{{trial["http://stjohns.edu/clinicaltrialproj/hasType"][0]["@value"]}}</td>
        </tr>
    </table>



</div>
<script>

    var app = angular.module('myApp', []);
    app.controller('interventionController', function($scope, $http) {

        $scope.int = "";

        $scope.findTrialsByInt = function() {
            $http.get("http://localhost:8080/clin/clinical/getByInt/" + $scope.int).then(function (response) {
                $scope.trials = response.data;

            });
        };

        $scope.findTrialInfo = function (nct) {
            $http.get("http://localhost:8080/clin/clinical/getByNCT/" + nct).then(function(response) {
                $scope.trialInfo = response.data;

            });
        };
    });
</script>


</body>
</html>

