<head>
    <link rel="stylesheet" type="text/css" href="searchBar.css">
</head>


<div class="welcomeBox">
    <h2>Welcome to clinical trial view</h2>
    <br>
    <h3>Search clinical trials to find all trials that are being recruited, completed, or
    have already been conducted. Clinical trials are an important gateway to making vital
    medical discoveries</h3>
</div>

<div class="searchBar">

    <h2>Search Trials By Condition</h2>
    <br>

    <!--
        - The search bar that holds the value of the search condition.
        - When a key is typed, Angular JS calls the keyup directive that
            accesses the cname() function that controls the input
    -->
    <div class="bar">
     <input type="text" name="condition" id="condition" ng-model="condition" ng-keyup="cname(condition)" placeholder="Enter Condition.." />
    </div>

    <!--
        - This div holds the dropdown box when a user begins typing in the search bar.
        - We use ng-hide to show and hide the box when the user is either typing, not typing
             or has selected a condition in the drop down box.
        - ng-repeat directive is used to display the conditions that the user is typing by autocomplete
        - When a value is selected in the box, the ng-click directive will place the selected value in the search bar.
    -->
    <div class="list-group" ng-hide="!hideBox">
        <div class="list-group-item" ng-hide="hidethis" ng-repeat="condition_name in filterCondition track by $index" ng-click="fillInputBox(condition_name)">
            {{condition_name}}
        </div>
    </div>

    <!--
        - These are the two buttons which you are able to search by Recruiting Trials or
            All Trials.
        - Ng-init is used to disable the buttons until a value is selected in the search box
        - The anchor tag ui-sref is used with AngularJS Ui router in order to pass the name of
            the condition selected to home.js so it has a value to search
    -->
    <div class="buttons" ng-init="disable=true">
        <a ui-sref="recruitingTrials({condition: condition})" ui-sref-active="active">
            <button ng-disabled="disable" style="text-decoration: none;">Recruiting Trials</button>
        </a>

        <a ui-sref="allTrials({condition: condition})" ui-sref-active="active">
            <button ng-disabled="disable" style="text-decoration: none;">All Trials</button>
        </a>
    </div>

    <br>
    </div>



<div class="boxRow">


    <div class="box1Img">
        <img src="https://media-public.canva.com/MABXSNFT41Q/1/screen.svg">
    </div>

    <div class="textBox1">
        <h3>What are clinical studies?</h3>
        <p>Clinical studies includes research by utilizing human volunteers, or participants, to further medicinal learning. The two primary forms of clinical studies are interventional studies and observational studies</p>
    </div>

    <div class="box2Img">
        <img src="https://media-public.canva.com/MABWTSPQTuk/1/screen.svg">
    </div>
    <div class="textBox2">
        <h3>What are the benefits?</h3>
        <p>Clinical studies are important to the further development of medical research and treatments for different types of diseases, illness's and procedures. As well as facilitating new ways to detect, diagnose, and reduce the risk of disease.</p>
    </div>

    <div class="box3Img">
        <img src="https://media-public.canva.com/MABWTbve3bs/1/screen.svg">
    </div>
    <div class="textBox3">
        <h3>What is the impact?</h3>
        <p>Clinical studies have helped medical researchers gain a further understanding of treatments and procedures to help diagnose patients more accurately and make medical discoveries that have gone past the scope of the studies</p>
    </div>

</div>


