
.searchBar {
    background-color: black;
    position: relative;
    left: 22%;
    top: 100px;
    height: 350px;
    width: 50%;
    font-family: sans-serif;
    opacity: 0.8;
    padding: 30px 30px;
    border-radius: 20px;
    bottom: 100px;
}

.searchBar > h2{
    font-size: 35px;
    z-index: 2;
    color:  white;
    position: relative;
    font-weight: lighter;
    font-family:"Palatino Linotype", sans-serif;
    padding-left: 25%;
}

.bar > input[type=text] {
    width: 95%;
    padding-bottom: 10px;
    height: 40px;
    font-size: 26px;
    color: black;
    box-shadow: 5px 10px 18px #888888;
    font-weight: lighter;
    font-family: sans-serif;
    border-radius: 10px;

}

.buttons button {
    position: relative;
    display: inline-block;
    width: 30%;
    height: 40px;
    top: 50px;
    font-size: 16px;
    color: white;
    font-family: "Palatino Linotype", sans-serif;
    font-weight: bold;
    border-radius: 10px;
    left: 20%;
    text-decoration: none;
    background-color: darkseagreen;

}

.buttons button:hover {
    background-color: white;
    opacity: .8;
    color: black;
    font-weight: bold;
}


.boxRow {
    position: relative;
    top: 200px;
    background-color: whitesmoke;
    width: 100%;
}

.textBox1 {
    position: relative;
    font-family: sans-serif;
    padding-top: 30px;
    left: 24%;
    width: 30%;
}

.box1Img > img {
    position: absolute;
    top: 60px;
    height: 20%;
    width: 20%;
    left: 8%;
}

.textBox1 > h3 {
    font-weight: lighter;
    color: black;
    font-size: 22px;
}

.textBox1 > p {
    font-weight: lighter;
    color: black;
    font-size: 18px;
}

.box2Img > img {
    position: absolute;
    top: 240px;
    height: 20%;
    width: 20%;
    left: 35%;
}
.textBox2 {
    position: relative;
    font-family: sans-serif;
    padding-top: 30px;
    left: 50%;
    width: 40%;
}

.textBox2 > h3 {
    font-weight: lighter;
    color: black;
    font-size: 22px;
}

.textBox2 > p {
    font-weight: lighter;
    color: black;
    font-size: 18px;
}

.box3Img > img{
    position: absolute;
    top: 430px;
    height: 15%;
    width: 15%;
    left: 11%;
}
.textBox3 {
    position: relative;
    font-family: sans-serif;
    padding-top: 30px;
    left: 24%;
    width: 40%;
}

.textBox3 > h3 {
    font-weight: lighter;
    color: black;
    font-size: 22px;
}

.textBox3 > p {
    font-weight: lighter;
    color: black;
    font-size: 18px;
}

.list-group {
    position: relative;
    width: 95%;
    background-color: white;
    z-index: 99999;
    overflow: auto;
    height: 100%;
    opacity: 1;
}

.list-group-item {
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: left;
    align-content: left;
    padding: 10px;
}

.welcomeBox {
    position: relative;
    left: 0;
    width: 30%;
    height: 300px;
    top: 150px;
    background-color: #fafafa;
    color: black;
    opacity: .98;
    border-radius: 10px;

}

.footer {

}

.container {
    position: relative;
}