<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="trialInfo.css">
<head>
    <meta charset="UTF-8">
    <title>Trial Info</title>
</head>

<div class="backBox">

    <div class="navOptions">
        <br>
        <br>
        <a ui-sref="searchBar" style="padding-left: 30px; font-size: 17px; color: black; font-weight: bold">
            New Search
        </a>

        <a href="#" style="padding-left: 30px; font-size: 17px; color: black; font-weight: bold" onclick="history.back()">
            Back To Results
        </a>
    </div>

    <div class="header">
        <h3>Study Details Below</h3>
    </div>


    <div class="nctBox">
        <h3 ng-repeat="trial in trialInfo" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasOfficialTitle'][0]['@value'] != null">
            <u>NCT</u>:
            {{trial['http://stjohns.edu/fullclinicaltrial/hasNCT'][0]['@value']}}
        </h3>
    </div>

    <div class="briefTitleBox">
        <h3 ng-repeat="trial in trialInfo" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasOfficialTitle'][0]['@value'] != null">
            <u>Official Title</u>:
            {{trial['http://stjohns.edu/fullclinicaltrial/hasOfficialTitle'][0]['@value']}}
        </h3>
    </div>

    <div class="aboutHeader">
        <h3>About This Trial</h3>
    </div>

    <div class="tableBox">
        <div class="tableContent">
            <table>
                <tr>
                    <th>Status</th>
                    <th>Phase</th>
                    <th>Starts - Ends</th>
                    <th>Study Type</th>
                </tr>

                <tr ng-repeat="trial in trialInfo" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasHealthyVolunteers'][0]['@value'] != null">
                    <td>{{trial['http://stjohns.edu/fullclinicaltrial/hasOverallStatus'][0]['@value']}}</td>
                    <td>{{trial['http://stjohns.edu/fullclinicaltrial/hasPhase'][0]['@value']}}</td>
                    <td>{{trial['http://stjohns.edu/fullclinicaltrial/hasStartDate'][0]['@value']}} - <span ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasCompletionDate'][0]['@value']">{{trial['http://stjohns.edu/fullclinicaltrial/hasCompletionDate'][0]['@value']}}</span>
                        <span ng-if="!trial['http://stjohns.edu/fullclinicaltrial/hasCompletionDate'][0]['@value']">N/A</span></td>
                    <td>{{trial['http://stjohns.edu/fullclinicaltrial/hasStudyType'][0]['@value']}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="interventionHeader">
        <h3>Interventions</h3>
    </div>

    <div class="tableBox">
        <div class="tableContent">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                </tr>

                <tr ng-repeat="trial in trialInfo" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasInterventionName'][0]['@value'] != null">
                    <td ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasInterventionName'][0]['@value']">{{trial['http://stjohns.edu/fullclinicaltrial/hasInterventionName'][0]['@value']}}</td>
                    <td ng-if="!trial['http://stjohns.edu/fullclinicaltrial/hasInterventionName'][0]['@value']">N/A</td>
                    <td ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasInterventionDescr'][0]['@value']">{{trial['http://stjohns.edu/fullclinicaltrial/hasInterventionDescr'][0]['@value']}}</td>
                    <td ng-if="!trial['http://stjohns.edu/fullclinicaltrial/hasInterventionDescr'][0]['@value']">N/A</td>
                    <td ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasInterventionType'][0]['@value']">{{trial['http://stjohns.edu/fullclinicaltrial/hasInterventionType'][0]['@value']}}</td>
                    <td ng-if="!trial['http://stjohns.edu/fullclinicaltrial/hasInterventionType'][0]['@value']">N/A</td>
                </tr>
            </table>
        </div>
    </div>


    <div class="conditionsHeader">
        <h3>List of Conditions</h3>
    </div>


    <div class="tableBox">
        <div class="tableContent">
            <table>
                <tr>
                    <th>Condition(s)</th>
                </tr>

                <tr ng-repeat="trial in trialInfo" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasCondition'][0]['@value'] != null">
                    <td>{{trial['http://stjohns.edu/fullclinicaltrial/hasCondition'][0]['@value']}}</td>
                </tr>
            </table>
        </div>
    </div>


    <div class="eligibilityHeader">
        <h3>
            Eligibility
        </h3>
    </div>


    <div class="tableBox">
        <div class="tableContent">
            <table>
                <tr>
                    <th>Min Age</th>
                    <th>Max Age</th>
                    <th>Sex</th>
                    <th>Healthy Volunteers</th>
                </tr>

                <tr ng-repeat="trial in trialInfo" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasHealthyVolunteers'][0]['@value'] != null">
                    <td ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasMinAge'][0]['@value']">{{trial['http://stjohns.edu/fullclinicaltrial/hasMinAge'][0]['@value']}}</td>
                    <td ng-if="!trial['http://stjohns.edu/fullclinicaltrial/hasMinAge'][0]['@value']">N/A</td>
                    <td ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasMaxAge'][0]['@value']">{{trial['http://stjohns.edu/fullclinicaltrial/hasMaxAge'][0]['@value']}}</td>
                    <td ng-if="!trial['http://stjohns.edu/fullclinicaltrial/hasMaxAge'][0]['@value']">N/A</td>
                    <td>{{trial['http://stjohns.edu/fullclinicaltrial/hasGender'][0]['@value']}}</td>
                    <td ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasHealthyVolunteers'][0]['@value']">{{trial['http://stjohns.edu/fullclinicaltrial/hasHealthyVolunteers'][0]['@value']}}</td>
                    <td ng-if="!trial['http://stjohns.edu/fullclinicaltrial/hasHealthyVolunteers'][0]['@value']">N/A</td>
                </tr>
            </table>
        </div>

        <div class="fullCritButton">
             <span ng-repeat="trial in trialInfo | limitTo : 1 : 0">
                <a ui-sref=".fullEligCrit({nct: trial['http://stjohns.edu/fullclinicaltrial/hasNCT'][0]['@value']})">
                    <button>View Eligibility Criteria</button>
                </a>
             </span>

            <div ui-view="fullCrit">

            </div>

        </div>

    </div>

    <div class="descriptionHeader">
        <h3>Description</h3>
    </div>

    <div class="descriptionBox">
        <h3 ng-repeat="trial in trialInfo" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasDetailedDescrip'][0]['@value'] != null">
            <strong>Brief Summary</strong>: {{trial['http://stjohns.edu/fullclinicaltrial/hasBriefSummary'][0]['@value']}}
        </h3>

        <div class="detailedDescrButton">
             <span ng-repeat="trial in trialInfo | limitTo : 1 : 0">
                <a ui-sref=".descr({nct: trial['http://stjohns.edu/fullclinicaltrial/hasNCT'][0]['@value']})">
                    <button>Detailed Description</button>
                </a>
             </span>

            <div ui-view="detailedDescr">

            </div>
        </div>
    </div>


    <div class="excludingTrialBox">
        <span ng-repeat="trial in trialInfo" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasNCT'][0]['@value'] != null" ng-init="!hideConflicts(trial['http://stjohns.edu/fullclinicaltrial/hasNCT'][0]['@value'])">

            <a ui-sref="findConflicts({nct: trial['http://stjohns.edu/fullclinicaltrial/hasNCT'][0]['@value']})">
                <button ng-disabled="!empty">View Conflicts</button>
            </a>
        </span>
    </div>

    <div class="navOptions" style="display: inline-block; padding-left: 43%; padding-bottom: 100px;">
        <br>
        <br>
        <a ui-sref="searchBar" style="font-size: 19px; color: black; font-weight: bold; padding-right: 30px">
            New Search
        </a>
        <a href="#" style=" font-size: 17px; color: black; font-weight: bold;" onclick="history.back()">
            Back To Results
        </a>
    </div>

</div>
