body {
    margin: 0;
    font-weight: lighter;
}

.title {
    text-align: left;
    padding-top: 40px;
    font-size: 40px;
}

.title > h1 {
    font-weight: lighter;
    padding-left: 110px;
}

.backBox {
    position: relative;
    top: 80px;
    background: whitesmoke;
    width: 100%;
    padding-bottom: 100px;

}

.header {
    position: relative;
    width: 58%;
    padding-left: 21%;
}
.header > h3 {
    padding-top: 1px;
    font-size: 40px;
    color: darkseagreen;
    font-family: sans-serif;
    font-weight: lighter;
    border-bottom: 1px solid black;
}

.briefTitleBox > h3 {
    position: relative;
    top: 40px;
    font-size: 22px;
    font-weight: lighter;
    left: 21%;
    width: 58%;
    font-family:"Palatino Linotype", sans-serif;
}

.descriptionHeader > h3 {
    padding-left: 21%;
    padding-top: 75px;
    font-size: 24px;
    font-weight: lighter;
    font-family:"Palatino Linotype", sans-serif;
}

.descriptionBox {
    position: relative;
    align-content: center;
    background-color: white;
    box-shadow: 5px 10px 18px dimgrey;
    border-radius: 3px;
    opacity: .91;
    font-family:"Palatino Linotype", sans-serif;
    left: 21%;
    width: 59%;
}

.descriptionBox > h3 {
    text-align: left;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    font-weight: lighter;
    font-family:"Palatino Linotype", sans-serif;
    white-space: pre-line;
}

.detailedDescrButton {
    padding-bottom: 100px;
}
.detailedDescrButton button {
    position: relative;
    width: 250px;
    left: 36%;
    height: 70px;
    font-family:"Palatino Linotype", sans-serif;
    font-size: 22px;
    box-shadow: 5px 10px 18px dimgrey;
    border-radius: 50px;
    background-color: darkseagreen;

}

.detailedDescrButton button:hover {
    color: black;
    background-color: darkseagreen;
    box-shadow: 5px 10px 18px white;
}

.aboutHeader > h3{
    padding-left: 21%;
    padding-top: 100px;
    font-size: 24px;
    font-weight: lighter;
    left: 62%;
    font-family:"Palatino Linotype", sans-serif;
}

.aboutBox{
    position: relative;
    align-content: center;
    background-color: white;
    box-shadow: 5px 10px 18px dimgrey;
    border-radius: 3px;
    opacity: .91;
    font-family:"Palatino Linotype", sans-serif;
    left: 21%;
    width: 58%;
}

.aboutBox > h3 {
    text-align: left;
    padding: 60px;
    font-weight: lighter;
    font-family:"Palatino Linotype", sans-serif;
}

.eligibilityHeader > h3 {
    padding-left: 21%;
    padding-top: 50px;
    font-size: 24px;
    font-weight: lighter;
    left: 62%;
    font-family:"Palatino Linotype", sans-serif;
}

.eligibilityBox {
    position: relative;
    align-content: center;
    background-color: white;
    box-shadow: 5px 10px 18px dimgrey;
    border-radius: 3px;
    opacity: .91;
    font-family:"Palatino Linotype", sans-serif;
    left: 21%;
    width: 58%;
}

.eligibilityBox > h3 {
    text-align: left;
    padding: 60px;
    font-weight: lighter;
    font-family:"Palatino Linotype", sans-serif;
}

.fullCritHeader > h3{
    padding-left: 21%;
    padding-top: 100px;
    font-size: 24px;
    font-weight: lighter;
    left: 62%;
    font-family:"Palatino Linotype", sans-serif;
}

.fullCritBox {
    position: relative;
    align-content: center;
    background-color: white;
    box-shadow: 5px 10px 18px dimgrey;
    border-radius: 3px;
    opacity: .91;
    font-family:"Palatino Linotype", sans-serif;
    left: 21%;
    width: 58%;
}

.fullCritBox > h3 {
    text-align: left;
    padding: 60px;
    font-weight: lighter;
    font-family:"Palatino Linotype", sans-serif;
    white-space: pre-line;
}

.fullDescription > h3 {
    text-align: left;
    padding: 60px;
    font-weight: lighter;
    font-family:"Palatino Linotype", sans-serif;
}
.table1Header > h3 {
    padding-left: 325px;
    padding-top: 50px;
    font-size: 24px;
    font-weight: lighter;
    font-family:"Palatino Linotype", sans-serif;
    left: 60%;
}

.table2Header > h3 {
    padding-left: 325px;
    padding-top: 100px;
    font-size: 24px;
    font-weight: lighter;
    left: 60%;
    font-family:"Palatino Linotype", sans-serif;
}

.tableBox {
    position: relative;
    align-content: center;
    left: 21%;
    width: 58%;
}

.tableContent {
    text-align: left;
    box-shadow: 2px 2px 2px 2px #bfbfbf;
}

.tableBox > h2 {
    font-size:40px;
    padding-bottom: 20px;
    text-align: left;
    font-weight: lighter;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th {
    background-color: darkseagreen;
    text-align: center;
    color: black;
    padding: 10px;
    width: 55px;
    font-size: 19px;
    font-weight: bold;
}

td {
    text-align: center;
    padding: 10px;
    width: 55px;
    font-size: 17px;
    font-weight: normal;
    background-color: white;
}

.excludingTrialBox {
    padding-top: 100px;
    padding-bottom: 50px;
}

.excludingTrialBox button {
    position: relative;
    background-color: darkseagreen;
    box-shadow: 2px 2px 2px black;
    border-radius: 50px;
    opacity: .91;
    left: 41%;
    width: 20%;
    height: 80px;
    font-size: 36px;
}

.excludingTrialBox button:hover {
    box-shadow: 5px 10px 18px white;
}

.conditionsHeader > h3 {
    padding-left: 21%;
    padding-top: 50px;
    font-size: 24px;
    font-weight: lighter;
    left: 62%;
    font-family:"Palatino Linotype", sans-serif;
}

.conditionsBox {
    position: relative;
    align-content: center;
    background-color: white;
    box-shadow: 5px 10px 18px dimgrey;
    border-radius: 3px;
    opacity: .91;
    font-family:"Palatino Linotype", sans-serif;
    left: 21%;
    width: 58%;
}

.conditionsBox > h3 {
    text-align: left;
    padding: 60px;
    font-weight: lighter;
    font-family:"Palatino Linotype", sans-serif;
}

.interventionHeader > h3 {
    padding-left: 21%;
    padding-top: 50px;
    font-size: 24px;
    font-weight: lighter;
    left: 62%;
    font-family:"Palatino Linotype", sans-serif;
}

.mapBox {
    position: relative;
    width: 90%;
    height: 500px;
}

#map {
    position: relative;
    height: 400px;
    width: 40%;
    left: 60%;
}

.addressBox {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 300px;
    background-color: white;
    color: black;
}

.nctBox > h3 {
    position: relative;
    top: 20px;
    font-size: 22px;
    font-weight: lighter;
    left: 21%;
    width: 58%;
    font-family: sans-serif;
}

.fullCritButton {
    padding-top: 45px;
    padding-bottom: 30px;
}

.fullCritButton button {
    position: relative;
    width: 250px;
    left: 37%;
    height: 70px;
    font-family:"Palatino Linotype", sans-serif;
    font-size: 22px;
    box-shadow: 5px 10px 18px dimgrey;
    border-radius: 50px;
    background-color: darkseagreen;

}

.fullCritButton button:hover {
    color: black;
    background-color: darkseagreen;
    box-shadow: 5px 10px 18px white;
}
