body {
    width: 100%;
    font-weight: 100;
    margin: auto;
}

.header > h1{
    padding-top: 25px;
    text-align: left;
    font-size: 40px;
    font-weight: lighter;
    color: black;
    padding-left: 80px;
    font-family: "Palatino Linotype", sans-serif;
}

.buttonList {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 22% 22% 22%;
    padding-left: 10%;
}


.buttonList button {
    position: relative;
    font-size: 20px;
    text-align: left;
    box-shadow: 2px 2px 2px 2px#999999;
    left: 30%;
    background-color: white;
    color: black;
    border-radius: 6px;
    top: 10px;
}

.buttonList button:hover {
    box-shadow:none;
    font-weight: normal;
    color:#002b80;

}

.facetList {
	display:block;
    float:left;
    border: 5px solid deepseagreen;
    border-radius: 100px;
}


.facetList button {
	display:block;
    position: relative;
    height: 40px;
    font-size: 10px;
    text-align: left;
    left: 30px;
    background-color: white;
    color: black;
    border-radius: 3px;
    top: 10px;
}

.facetList button:hover {
    font-weight: normal;
    color:#002b80;

}

.box {
	display: grid;
	grid-template-columns: 30% 70%;
    position: relative;
    top: 80px;
    width: 100%;
    padding-bottom: 10%;
    background-color: #f2f2f2;
}

.statusBubble {
	display:inline;
    background-color: white;
    max-width: 60%;
    border: 2px solid darkseagreen;
    border-radius: 50px;
    color: black;
    left: 3%;
    opacity: .7;
    bottom: 20px;
}


.statusBubble:hover {
    color: #002b80;
}

.statusBubble > h4 {
     font-size: 18px;
     color: black;
     padding: 12px;
     margin: 2%;
}

.headerBubble > h3 {
    display: table;
    position: relative;
    border-radius: 50px;
    color: darkseagreen;
    left: 80px;
    padding-left: 15px;
    font-size: 35px;
    padding-right: 10px;
}

.headerBubble > h2 {
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    color: black;
    font-family: "Palatino Linotype", sans-serif;
}

.headerBubble {
    display: inline-block;
    width: 100%;
}

.buttonDescr {
	text-align:center;
    position: relative;
    padding-bottom: 50px;
}

.resultsBlock {
	display: block;
	float: right;
}