<link rel="stylesheet" type="text/css" href="trialInfo.css">
<head>
    <meta charset="UTF-8">
    <title>Trial Info</title>
</head>

<div class="backBox">


    <div class="briefTitleBox">
        <h3 ng-repeat="trial in trialInfo" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasOfficialTitle'][0]['@value'] != null">
            Official Title
            <br>
            <br>
            {{trial['http://stjohns.edu/fullclinicaltrial/hasOfficialTitle'][0]['@value']}}
        </h3>
    </div>

    <div class="descriptionHeader">
        <h3>Description</h3>
    </div>

    <div class="descriptionBox">
        <h3 ng-repeat="trial in trialInfo" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasDetailedDescrip'][0]['@value'] != null">
            <strong>Brief Summary</strong>
            <br>
            <br>
            {{trial['http://stjohns.edu/fullclinicaltrial/hasBriefSummary'][0]['@value']}}
        </h3>

        <div class="detailedDescrButton">
             <span ng-repeat="trial in trialInfo | limitTo : 1 : 0">
                <a ui-sref=".descr({nct: trial['http://stjohns.edu/fullclinicaltrial/hasNCT'][0]['@value']})">
                    <button>Detailed Description</button>
                </a>
             </span>

            <div ui-view>

            </div>
        </div>
    </div>

    <div class="aboutHeader">
        <h3>About This Trial</h3>
    </div>

    <div class="aboutBox">
        <h3 ng-repeat="trial in trialInfo" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasCondition'][0]['@value'] != null">
            <strong>Overall Status</strong>
            <br>
            {{trial['http://stjohns.edu/fullclinicaltrial/hasOverallStatus'][0]['@value']}}
            <br>
                ________________________________________________________
            <br>
            <br>
            <strong>Phase</strong>
            <br>
            {{trial['http://stjohns.edu/fullclinicaltrial/hasPhase'][0]['@value']}}
            <br>
            ________________________________________________________
            <br>
            <br>
            <strong>Starts</strong> {{trial['http://stjohns.edu/fullclinicaltrial/hasStartDate'][0]['@value']}}
            <br>
            <strong>Ends</strong> {{trial['http://stjohns.edu/fullclinicaltrial/hasCompletionDate'][0]['@value']}}
            <br>
            ________________________________________________________
            <br>
            <br>
            <strong>Study Type</strong>
            <br>
            {{trial['http://stjohns.edu/fullclinicaltrial/hasStudyType'][0]['@value']}}
            <br>
            ________________________________________________________
            <br>
            <br>
            <strong>Conditions</strong>
            <br>
            {{trial['http://stjohns.edu/fullclinicaltrial/hasCondition'][0]['@value']}}
            <br>
            <br>
        </h3>
    </div>

    <div class="eligibilityHeader">
        <h3>
            Eligibility
        </h3>
    </div>

    <div class="eligibilityBox">
        <h3 ng-repeat="trial in trialInfo" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasCondition'][0]['@value'] != null">
        <strong>Sex</strong>
        <br>
        {{trial['http://stjohns.edu/fullclinicaltrial/hasGender'][0]['@value']}}
        <br>
        ________________________________________________________
        <br>
        <br>
        <strong>Age</strong>
        {{trial['http://stjohns.edu/fullclinicaltrial/hasMinAge'][0]['@value']}}
        <br>
        ________________________________________________________
        <br>
        <br>
        <strong>Healthy Volunteers</strong>
        <br>
        {{trial['http://stjohns.edu/fullclinicaltrial/hasHealthyVolunteers'][0]['@value']}}
        <br>
        ________________________________________________________
        <br>
        <br>
        </h3>
    </div>

    <div class="fullCritHeader">
        <h3>Full Eligibility Criteria</h3>
    </div>

    <div class="fullCritBox">
        <h3 ng-repeat="trial in trialInfo" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasCriteriaText'][0]['@value'] != null">
            {{trial['http://stjohns.edu/fullclinicaltrial/hasCriteriaText'][0]['@value']}}
        </h3>
    </div>
<br>
<br>

<div class="excludingTrialBox">

    <span ng-repeat="trial in trialInfo" ng-if="trial['http://stjohns.edu/fullclinicaltrial/hasNCT'][0]['@value'] != null">
        <a ui-sref="findConflicts({nct: trial['http://stjohns.edu/fullclinicaltrial/hasNCT'][0]['@value']})">
            <button>See Conflicts</button>
        </a>
    </span>

</div>
</div>
